{{template "base" .}}

{{define "content"}}
<div class = "container">
    <div class="row">
        <div class="col">
        <h1>This is the home page</h1>
            <div class ="contents">
            <div class = "ss-right">
                <img src="/static/images/home3.jpg" width="1200" height="590">
            </div>

            <div class = "text-area-left">
                <p class="tit">HISTORIA</p>
                <p class="text">Cada década, los dragones ancianos cruzan el mar hasta el continente conocido como el Nuevo Mundo, en un fenómeno conocido como la migración de los Ancianos.<br><br>Para llegar hasta el fondo de este fenómeno misterioso, el gremio ha creado la comisión de investigación y la ha enviado en grandes flotas hacia el Nuevo Mundo.<br><br>Ha llegado el momento de que la 5.ª flota zarpe siguiendo a Zorah Magdaros, un dragón anciano de proporciones gigantescas.<br>En dicha flota, un cazador está a punto de embarcarse en el viaje más grande que jamás haya podido imaginar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}