{{template "base" .}}

{{define "content"}}

<main>

    <div class="container py-4">

        <div class="p-3 mb-4 bg-dark rounded-3 text-bg-dark ">
            <div class="container-fluid py-1">
                <h1 class="display-5 fw-bold text-center mt-5">Welcome to Monster Hunter Store</h1>
                <p class = "display-8 fw-bold text-center mt-3">Your favourite hunting shop</p>
                <p class="col-md-8 fs-4 mt-5">Using a series of utilities, you can create this jumbotron, just like the one
                    in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it
                    to your liking.</p>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class = "row mb-5">
                    <div class="h-100 p-5 text-bg-dark rounded-3 ">
                        <img src = "/static/images/fatalis.jpg" class = "img-fluid img-thumbnail rounded mx-auto d-block monster-image  mb-3">
                        <h2 class = "text-center mb-3">Fatalis</h2>
                        <p class = "text-center ">A legendary black dragon known only as Fatalis. Rumored to have destroyed a kingdom in a single night, and has taken its castle for a roost.
                            As Long as its horns are intact, overcoming its final form's breath attack may be impossible. Cannons and ballistae can topple it. Flinch shots when its flying or standing will lower its head.</p>
                        <div class="text-center">
                        <button class="btn btn-outline-light" type="button">See details</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

    </div>
</main>

{{end}}