{{template "base" .}}

{{define "content"}}

<main>

    <div class="container py-4">

        <div class="p-3 mb-4 bg-dark rounded-3 text-bg-dark ">
            <div class="container-fluid py-1">
                <h1 class="display-5 fw-bold text-center mt-5">Welcome to Monster Hunter Store</h1>
                <p class = "display-8 fw-bold text-center mt-3">Your favourite hunting shop</p>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class = "row mb-5">
                    <div class="h-100 p-5 text-bg-dark rounded-3 ">
                        <img src ={{.ImageIcon}} class = "img-fluid img-thumbnail rounded mx-auto d-block monster-image  mb-3">
                        <h2 class = "text-center mb-3">{{.Name}}</h2>
                        <p class = "text-center ">{{.Description}}</p>
                        <div class="text-center">
                            <button class="btn btn-outline-light" type="button">See details</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>

{{end}}